---
siteName: Elevntly
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{Elevntly}} | {{ title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="./css/mobile.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav-basic.njk" %}
  </header>

  {{ content | safe }}

  <footer class="site-footer">
    <div>
      <p>&copy; {{ pkg.author }}</p>
      <!-- You can change all of this footer content. -->
    </div>
  </footer>

 <script>
        let togglebtn = document.querySelector('.toggle-btn')
        let navbar = document.querySelector('.navbar')

        togglebtn.addEventListener('click', ()=>{
            navbar.classList.toggle('mobile-nav')
        } )
    </script>
</body>
</html>